<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error-message *ngIf="error$ | async"></app-error-message>

<div *ngIf="feed$ | async">
  <div 
    class="article-preview"
    *ngFor="let article of (feed$ | async).articles"
  >
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image">
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">
          {{ article.createdAt | date }}
        </span>
      </div>
      <div class="pull-xs-right">ADD TO FAVORITES</div>
    </div>
    <a 
      class="author"
      [routerLink]="['/articles', article.slug]"
    >
      <h2>{{ article.title }}</h2>
      <p>{{ article.description }}</p>
      <span class="feed_read-more">Read more...</span>
    </a>
    HERE IS LIST OF ARTICLE TAGS
  </div>
  PAGINATION
</div>